<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXqW17hcF16RP3nd4REYrbsk6hBPWNfic</string>
	<key>GCM_SENDER_ID</key>
	<string>994492665303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minimalistSocialApp</string>
	<key>PROJECT_ID</key>
	<string>minimalist-social-app</string>
	<key>STORAGE_BUCKET</key>
	<string>minimalist-social-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994492665303:ios:107290bb87b892437f4f92</string>
</dict>
</plist>